/* 
** Nav
*/
.navbar-brand {
  font-family: 'Merriweather', serif;
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.5px; }

.navbar {
  text-transform: uppercase; }

.nav-item {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1.5px; }

.navbar-toggler {
  border: 0; }

.navbar-toggler-right {
  right: 0rem; }
